<div class="dice-roll-card">
  <div class="card-header">
    {{flavor}}
  </div>
  <div class="card-content">
    <span class="roll-total">{{total}}</span>
    <span class="roll-formula">{{formula}}</span>
  </div>
  <div class="card-footer">
    Rolled by {{speaker.alias}}
  </div>
</div>